.container-textos{	
	margin-left: 420px;
}
.texto01{
	margin: 0;
	margin-top: 130px;
	white-space:pre-line;
	font-size: 28px;
}
.texto02{
	text-indent: 50px;
	margin: 0;
	white-space:pre-line;
	font-size: 28px;	
}
.texto03{
	text-indent: 80px;
	margin: 0;
	white-space:pre-line;
	color: #C8D100;
	font-size: 28px;	
}
.texto04{
	text-indent: 290px;
	margin: 0;
	white-space:pre-line;
	color: #C8D100;
	font-size: 28px;
}
#eventos-text img, #pacotes img {
	margin: 5px;
}
.list-events {
	font-size: 27px;
}
.left{
	float: left;
}
.right{
	float: right;
}
ul.list-events.right{
	margin-right: 175px;
}
/*-------------- Pacotes --------------*/
.pct-01{
	color: #004c20;
	padding-top: 100px;
	margin-left: 70px;
	font-size: 26px;
}
.list-pct{
	font-size: 25px;
	margin: 0 50px;
}
/*----------- personalizar -------------*/
.persona-01 {
	color: #DCE070;
	font-size: 24px;
	margin: 45px 180px; 
}
.persona-02{
	color: white;
	font-size: 21px;
	margin: -20px 180px 0px 180px;
}
/*------------------ Sabores ------------------*/
.sab-01{
	color: white;
	font-size: 20px;
	padding-top: 260px;
	margin-left: 185px;
	width: 300px;
}
/*--------------- Duvidas --------------------*/
.duv-01{
	font-size: 16px;
	padding-top: 20px;
}
.duv-01 span{
	background-image: url('../images/luz-texto-menor.png');
	background-repeat: no-repeat;
}
.duv-column-01{
	width: 465px;
	margin-left: 185px;
	float: left;
}
.duv-column-02{
	width: 500px;
	margin-right: 20px;
	float: right;
}
/*------------------ pedidos -----------------------*/
.ped-01{
	margin: 0 175px;
}
.ped-01 h3{
	font-size: 24px;
	color: #DCE070;
}
.ped-01 form label{
	font-size: 15px;
	display: inline-block;
}
.ped-01 form input, .ped-01 form textarea{
	display: block !important;
	background-color: #9fc977;
	border: 2px solid #DCE070;
}
.ped-01 form input:focus, .ped-01 form textarea:focus{
	outline: none;
}
.ped-01 form textarea{
	width: 855px;
	height: 90px;
	resize: none;
}
.ped-01 form input[type="submit"]{
	background-image: url('../images/botao-enviar.png');
	background-repeat: no-repeat;
	width: 118px;
	height: 18px;
	border: 0;
	border-radius: 6px;
	font-size: 15px;
	outline: none;
	margin: 10px 15px 0 0;
	float: right;
}
.ped-01 form input[type="submit"]:active{
	position: relative;
	top: 3px;
	outline: none;
}
.ped-01 form input[name="nome"], .ped-01 form input[name="telephone"], .ped-01 form input[name="email"], .ped-01 form input[name="event-type"]{
	width: 390px;
}
.ped-01 form label[for="telephone"],.ped-01 form label[for="event-type"]{
	margin-left: 70px;
}
.ped-01 form input[name="event-local"],.ped-01 form input[name="event-date"]{
	width: 260px;
}
.ped-01 form input[name="convidados"]{
	width: 195px;
}
.ped-01 form label[for="event-date"]{
	margin-left: 65px;
}
.ped-01 form label[for="convidados"]{
	margin-left: 65px;
}
/*--------------------- footer ------------------------*/
.footer{
	margin-left: 200px;
	color: #00662B;
	padding-top: 50px;
}
.footer a:active, .footer a:visited, .footer a{
	color: #00662B;
} 
.footer img{
	margin-left: 220px;
}
