.container-textos{	
	margin-left: 420px;
}
.texto01{
	margin: 0;
	margin-top: 130px;
	white-space:pre-line;
	font-size: 28px;
}
.texto02{
	text-indent: 50px;
	margin: 0;
	white-space:pre-line;
	font-size: 28px;	
}
.texto03{
	text-indent: 80px;
	margin: 0;
	white-space:pre-line;
	color: #C8D100;
	font-size: 28px;	
}
.texto04{
	text-indent: 290px;
	margin: 0;
	white-space:pre-line;
	color: #C8D100;
	font-size: 28px;
}
#eventos-text img, #pacotes img {
	margin: 5px;
}
.list-events {
	font-size: 27px;
}
.left{
	float: left;
}
.right{
	float: right;
}
ul.list-events.right{
	margin-right: 175px;
}
/*-------------- Pacotes --------------*/
.pct-01{
	color: #004c20;
	margin-top: 100px;
	margin-left: 70px;
	font-size: 26px;
}
.list-pct{
	font-size: 25px;
	margin: 0 50px;
}
/*----------- personalizar -------------*/
.persona-01 {
	color: #DCE070;
	font-size: 24px;
	margin: 45px 180px; 
}
.persona-02{
	color: white;
	font-size: 21px;
	margin: -20px 180px 0px 180px;
}
/*------------------ Sabores ------------------*/
.sab-01{
	color: white;
	font-size: 20px;
	margin-top: 260px;
	margin-left: 185px;
	width: 300px;
}
/*--------------- Duvidas --------------------*/
.duv-01{
	font-size: 16px;
	margin-top: 20px;
}
.duv-01 span{
	background-image: url('../images/luz-texto-menor.png');
	background-repeat: no-repeat;
}
.duv-column-01{
	width: 465px;
	margin-left: 185px;
	float: left;
}
.duv-column-02{
	width: 500px;
	margin-right: 20px;
	float: right;
}
/*------------------ pedidos -----------------------*/
.ped-01{
	border:1px solid yellow;
	margin: 0 175px;
}
.ped-01 h3{
	font-size: 24px;
	color: #DCE070;
}
.ped-01 form label{
	font-size: 15px;
	display: inline-block;
}
.ped-01 form input, .ped-01 form textarea{
	display: block !important;
}
.ped-01 form textarea{
	width: 740px;
}
