body {
	background-color: #37883A;
	background-image: url('../images/bg-rochinha.gif');
}
#bg1 {
	background-image: url('../images/bg1.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 946px;
}
#logo-topo{
	margin-top: 25px;
	margin-left: 250px;
	display: inline;
}
.botoes-topo{
	margin-top: 350px;
	margin-left: 250px;
	width: 780px;
	border:1px solid #000;
}
.botoes-topo img{
	border:1px solid #f0f;
	position: relative;
	margin-bottom: 0;
}
#bg2 {
	background-image: url('../images/bg2.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 542px;
}
#bg3 {
	background-image: url('../images/bg3.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 644px;
}
#bg4 {
	background-image: url('../images/bg4.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 974px;
}
#bg5 {
	background-image: url('../images/bg5.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 838px;
}
