body {
	background-color: #37883A;
	background-image: url('../images/bg-rochinha.gif');
	font-family: 'BerlinSans';
	font-size: 20px;
	color: white;
}
#logo-topo{
	margin-top: 25px;
	margin-left: 250px;
	display: inline;
}
.botoes-topo{
	margin-top: 362px;
	margin-left: 206px;
}
.go-top {
	background: #FAFAFA;
	font-family: 'BerlinSans';
	bottom: 0px;
	right: 0px;
	color: #37883A;
	cursor: pointer;
	display: none;
	padding: 10px;
	position: fixed;
	border-top-left-radius: 20px;	
	text-align: center;
	width: 100px;
	height: 70px;
	z-index: 9999;
}
#topo, #eventos, #pacotes, #personalizados, #sabores, #duvidas, #pedidos{
	background-repeat: no-repeat;
	width: 1217px;
	overflow: auto;
}
#topo{
	background-image: url('../images/bg1.jpg');
	height: 840px;
	margin-top: -3px;
}
#eventos {
	background-image: url('../images/bg2.jpg');
	height: 589px;
	margin-top: -4px;
}
#pacotes {
	background-image: url('../images/bg3.jpg');
	height: 624px;
}
#personalizados {
	background-image: url('../images/bg4.jpg');
	height: 478px;
	margin-top: -1px;
}
#sabores {
	background-image: url('../images/bg5.jpg');
	height: 493px;
	margin-top: -4px;
}
#duvidas {
	background-image: url('../images/bg6.jpg');
	height: 487px;
	margin-top: -1px;
}
#pedidos{
	background-image: url('../images/bg7.jpg');
	height: 465px;
}
.list-events li, .list-pct li{list-style: none;}