body {
	background-color: #37883A;
	background-image: url('../images/bg-rochinha.gif');
	font-family: 'BerlinSans';
	font-size: 20px;
}
#logo-topo{
	margin-top: 25px;
	margin-left: 250px;
	display: inline;
}
.botoes-topo{
	margin-top: 362px;
	margin-left: 206px;
}
.go-top {
	background: #666;
	bottom: 10px;
	color: #FFF;
	cursor: pointer;
	display: none;
	padding: 10px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	width: 100px;
	height: 70px;
	z-index: 9999;
}
#topo, #eventos, #pacotes, #personalizados, #sabores, #duvidas, #pedidos{
	background-repeat: no-repeat;
	width: 1217px;
}
#topo{
	background-image: url('../images/bg1.jpg');
	height: 840px;
	margin-top: -3px;
}
#eventos {
	background-image: url('../images/bg2.jpg');
	height: 589px;
}
#pacotes {
	background-image: url('../images/bg3.jpg');
	height: 624px;
}
#personalizados {
	background-image: url('../images/bg4.jpg');
	height: 478px;
}
#sabores {
	background-image: url('../images/bg5.jpg');
	height: 493px;
}
#duvidas {
	background-image: url('../images/bg6.jpg');
	height: 487px;
}
#pedidos{
	background-image: url('../images/bg7.jpg');
	height: 465px;
}
.list-events li{list-style: none;}
#eventos-text{
	border:1px solid black; 
	width: 700px;
	font-size: 20px;
}
.font-berlinsans{ font-family: 'BerlinSans'; }
.font-script{ font-family: 'ScriptMT'; }
.yellow{ color: #C8D100; }
.yellow2{ color: #B8D065; }
.yellow3{ color: #DCE070; }
.yellow4{ color: #FFEC00; }
.yellow5-picoles{ color: #DEDB00; }
.white{ color: #FFFFFF; }
.white2{ color: #C0D684; }
.green{ color: #004C20; }
.green2{ color: #00662B;}