body {
	background-color: #37883A;
	background-image: url('../images/bg-rochinha.gif');
	font-family: 'BerlinSans';
	font-size: 20px;
}
#bg1 {
	background-image: url('../images/bg1.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 946px;
}
.go-top {
	background: #666;
	bottom: 10px;
	color: #FFF;
	cursor: pointer;
	display: none;
	padding: 10px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-shadow: 1px 1px 2px #000;
	width: 100px;
	height: 70px;
	z-index: 9999;
}
#logo-topo{
	margin-top: 25px;
	margin-left: 250px;
	display: inline;
}
.botoes-topo{
	margin-top: 362px;
	margin-left: 206px;
}
.botoes-topo img{
}
#bg2 {
	background-image: url('../images/bg2.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 542px;
}
#bg2-text{
	border:1px solid black; 
	float: right; 
	width: 700px;
	font-size: 20px;
}
#bg3 {
	background-image: url('../images/bg3.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 644px;
}
#bg4 {
	background-image: url('../images/bg4.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 974px;
}
#bg5 {
	background-image: url('../images/bg5.jpg');
	background-repeat: no-repeat;
	width: 1217px;
	height: 838px;
}
.list-events li{
	list-style: none;
}
.lista1{
	float: left;
}
.lista2{
	float: right;
}
.font-berlinsans{ font-family: 'BerlinSans'; }
.font-script{ font-family: 'ScriptMT'; }
.yellow{ color: #C8D100; }
.yellow2{ color: #B8D065; }
.yellow3{ color: #DCE070; }
.yellow4{ color: #FFEC00; }
.yellow5-picoles{ color: #DEDB00; }
.white{ color: #FFFFFF; }
.white2{ color: #C0D684; }
.green{ color: #004C20; }
.green2{ color: #00662B;}